@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

* {
    font-family: "Lilita One", sans-serif;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    color: black;
    font-size: 25px;
    text-shadow: 0 10px 11px greenyellow;
    margin-bottom: 70px;
}

body {
    background-color: rgba(0, 0, 0, 0.343);
}

main {
    display: grid;
    grid-template-columns: 12fr;
    align-items: center;
    gap: 35px;
    width: 1900px;

}

form {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 3fr 3fr 3fr;
    background-color: black;
    height: 370px;
    width: 100%;
    justify-items: center;
    padding-top: 20px;
    box-shadow: 0 10px 80px white;
    border: 1px solid white;
    align-items: center;
}

form input,select {
    width: 370px;
    height: 60px;
    text-align: center;
    border: 2px solid black;
    font-size: 23px;
    border-radius: 5px;
    border: 1px solid greenyellow;
}

form button {
    height: 60px;
    width: 270px;
    font-size: 20px;
    background: greenyellow;
}

form button:hover {
    box-shadow: 0 10px 50px white;
    font-size: 22px;
    cursor: pointer;
}



table {
    color: black;
    padding: 10PX;
}

table th {
    border: 3px solid black;
    height: 30px;
    font-size: 23px;
    background-color: black;
    color: white;
}

table td {
    text-align: center;
    border: 3px solid black;
}

#product-table-body {
    font-size: 20px;
    height: 60px;
}

/* footer{
    height: 150px;
    border-radius: 20px;
    text-align: center;
    align-content: center;
}
footer a{
    text-decoration: none;
    color: #000000;
    font-size: 28px;
}
footer a:hover{
    color: #578FCA;
} */